{% if mobile %}
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8245159939382436";
    /* Workday mobile */
    google_ad_slot = "4874065898";
    google_ad_width = 320;
    google_ad_height = 50;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
{% else %}
    <div class="row text-center" style="margin-top:40px">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-8245159939382436";
        /* Workdays */
        google_ad_slot = "5281043444";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>        
    </div>
{% endif %}