<div class="row" id="settings"><div class="span12 text-right">

<!--
Timezone: 
<select>
    <option value="US/Eastern">eastern</option>
    <option value="US/Central">central</option>
    <option value="US/Mountain">mountain</option>
    <option value="US/Pacific">pacific</option>
    <option value="US/Alaska">alaska</option>
    <option value="US/Hawaii">hawaii</option>
</select>
-->

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Timezone
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Eastern</a></li>
    <li><a href="#">Central</a></li>
  </ul>
</div>
</div>
</div>

http://www.opm.gov/policy-data-oversight/pay-leave/pay-administration/fact-sheets/holidays-work-schedules-and-pay