<div class="row" id="settings"><div class="span12 text-right">


Timezone: 
<select id="timezone" onchange="setTimezone()">
    <option value="US/Eastern">eastern</option>
    <option value="US/Central">central</option>
    <option value="US/Mountain">mountain</option>
    <option value="US/Pacific">pacific</option>
    <option value="US/Alaska">alaska</option>
    <option value="US/Hawaii">hawaii</option>
</select>

</div>
</div>

<a href="http://www.opm.gov/policy-data-oversight/pay-leave/pay-administration/fact-sheets/holidays-work-schedules-and-pay">holidays</a>