{% extends "_base.htm" %}
{% block title %}How many workdays or weekdays until...{% endblock %}
{% block ready %}
init({{cur_month}});
$(".month").click(function() {
    setMonth($(this).html());
});
$(".year").click(function() {
    setYear($(this).html());
});
$(".day").click(function() {
    setDay($(this).html());
});
{% endblock %}
{% block content %}
<div class="row">
    <div class="span6" style="padding-top:12px">
    <h1>How many work days until</h1>
    </div>
    <div class="span6">
        <table>
            <tr>
                <td class="dtype">mm</td>
                <td class="dtype">dd</td>
                <td class="dtype">yyyy</td>
            </tr>
            <tr>
                <td><div id="month" class="datebox" style="width:58px"></div></td>
                <td><div id="day" class="datebox" style="width:39px">&nbsp;</div></td>
                <td><div id="year" class="datebox" style="width:78px">{{cur_year}}</div></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="span2 offset1">
        <h2>Year</h2>
        {% for year in years %}
            <div id="year-{{year}}" class="picker year{%if year==cur_year%} selected{%endif%}">{{year}}</div>
        {% endfor %}    
    </div>
    <div class="span2">
        <h2>Month</h2>
        {% for month in months %}
            <div id="month-{{month}}" class="picker month{%if loop.index==cur_month%} selected{%endif%}">{{month}}</div>
        {% endfor %}
    </div>
    <div class="span4">
        <h2>Day</h2>
        <table id="cal" class="calendar">
        <thead>
        <tr><th>s</th><th>m</th><th>t</th><th>w</th><th>t</th><tH>f</th><th>s</th></tr>
        </thead>
        <tbody>
        <tr>
        {% for day in days %}
            <td>
            {% if day[0] != 0 %}
            <div class="day picker">{{day[0]}}</div>
            {% endif %}
            </td>
            {% if day[1]==5 %}</tr><tr>{% endif %}
        {% endfor %}
        </tbody>
        </table>
    </div>    
</div>

{% endblock %}